<div>
  <h1>Multiplica Numeros</h1>
  <form [formGroup]="formulario">
    <div class="mb-3">
      <label for="numero1" class="form-label">
        Número 1
      </label>
      <input type="number" name="numero1" id="numero1" class="form-control" formControlName="numero1">
      <label for="numero1" class="form-label">
        Número 2
      </label>
      <input type="number" name="numero2" id="numero2" class="form-control" formControlName="numero2">
      <br>
      <label for="numero1" class="form-label">
        Número 3
      </label>
      <input type="number" name="numero3" id="numero3" class="form-control" formControlName="numero3">
      <br>
      <label for="numero1" class="form-label">
        Número 4
      </label>
      <input type="number" name="numero4" id="numero4" class="form-control" formControlName="numero4">
      <br>
      <button class="btn btn-primary" (click)="multiNumeros()">Multiplicar</button>
      <h2>
      Número 1:   {{n1}}
      <br>
      Número 2:   {{ n2 }}
      <br>
      Número 3:   {{n3}}
      <br>
      Número 4:   {{ n4 }}
      <br>
      Resultado:{{resultado}}</h2>
    </div>
  </form>
</div>
